main p {
    font-family: $font_text;
}

/* main index */


.block-container {
    margin: 80px 80px;
    min-height: 200px;

    /* background-color: #e5e5e5; */
    .modular {
        @extend .flex-row-modular;

        .text-modular {
            font-size: 1rem;
        }

        .img-container {
            /* width: 50%; */
            width: 500px;
            /* height: 100vh; */
            overflow: hidden;
            transition: 600ms ease-in-out;
            &:hover {
                box-shadow: 1px 1px 10px 1px #3333336b;
                transform: scale(1.1);
                transition: 600ms ease-in-out;
            }

            .img-modular {
                width: 100%;
                /* height: 400px;
                overflow: hidden; */
                transition: 600ms ease-in-out;
                &:hover {
                    transform: scale(1.1);
                    transition: 600ms ease-in-out;
                    z-index: 4;
    
                }
            }

            
        }

        

        .text-container {
            width: 50%;
            display: flex;
            justify-content: center;
            /*animation-name: text-in-opacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 10s;*/

            .text-modular {
                font-size: 24px;
                font-weight: 300;
                padding: 80px;
            }
        }

    }

}











/* main contact */

.form input,
textarea,
select {
    display: block;
}

/* main Works */

/*.main-works .works{
    margin: 80px;
}*/

.works {
    .gallery-item {
        width: fit-content;

        img {
            width: 480px;
        }
    }
}



.carousel-item {
    width: 100%;
    height: 40vmax;
    justify-content: center;
    align-content: center;
}